:root {
	--red-default: #178252;
	--hover-red: #00532e;
	--dark-red: #00532e;
	--green-market: #178252;
	--dark-green: #105838;
	--yellow: #00b406;
	--purple: #7cdb92;
	--pink: #0c7a00;
	--white: #fff;
	--dark-gray: #3e3e3e;
	--text: #717171;
	--title: #1a1a1a;
	--border: #dcdcdc;
	--bg-gray: #f7f7f7;
}
